html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: rem(16px);
    font-family: "ubuntu", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    position: relative;
    min-width: rem(960px);
    height: 100%;
}

.maincontent {
    height: 100%;
}

.section {
    height: 100vh;
    min-height: rem(650px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.container {
    width: rem(940px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.welcome {
    background-image: url(../img/fon1.png);
}

.welcome::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/texture2.png);
    position: absolute;
    top: 0;
    left: 0;
}

.welcome__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: rem(10px);
}

.navigation {
    font-family: "ubuntu", arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation__item {
    margin-right: rem(17px);
}

.navigation__link {
    font-weight: 500;
    font-size: rem(13px);
    color: #f0f0f0;
    cursor: pointer;
    text-transform: uppercase;
}

.navigation__item::before {
    content: " ";
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: rem(15px);
    vertical-align: middle;
    display: inline-block;
}

.navigation__item:first-of-type::before {
    content: " ";
    width: 0;
    height: 0;
}

.button {
    font-family: "ubuntu", arial, sans-serif;
    font-weight: 500;
    font-size: rem(13px);
    color: #f0f0f0;
    border: none;
    border-radius: rem(5px);
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: rem(13px);
    padding-bottom: rem(13px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button_color_orange {
    background-color: #e45028;
}

.button_color_orange:hover {
    background-color: #c1401e;
}

.welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.welcome-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.welcome-content__left {
    width: 50%;
}

.welcome-content__right {
    width: 50%;
}

.section__title {
    text-transform: uppercase;
    font-family: "gagalin", arial, sans-serif;
    font-weight: 400;
    font-size: rem(72px);
    letter-spacing: rem(2px);
}

.section__title--orange {
    color: #f9b43b;
}

.welcome-content__description {
    font-family: "lifehack", arial, sans-serif;
    font-size: rem(65px);
    color: #ffffff;
    line-height: 0.95em;
    margin-top: rem(20px);
}

.arrow {
    width: rem(30px);
    height: rem(20px);
    background-image: url(../img/arrow-scroll.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    bottom: rem(40px);
}

.nav-scroll {
    position: fixed;
    right: 10%;
    top: 13%;
}

.nav-scroll__list {
    line-height: 1.3;
}

.nav-scroll__item {
    margin-bottom: rem(2px);
}

.nav-scroll__item-trigger {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-scroll__radio {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}

.nav-scroll__radio-fake {
    display: inline-block;
    vertical-align: middle;
    width: rem(7px);
    height: rem(7px);
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
}

.nav-scroll__radio-fake::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1px solid #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-52%, -53%);
    -ms-transform: translate(-52%, -53%);
    transform: translate(-52%, -53%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-scroll__radio:checked+.nav-scroll__radio-fake::before {
    width: rem(15px);
    height: rem(15px);
}