html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "ubuntu", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;
    min-width: 960px;
    height: 100%;
}

.maincontent {
    height: 100%;
}

.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}

.container {
    width: 940px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcome {
    background-image: url(../../img/fon1.png);
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.welcome::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/texture2.png);
    position: absolute;
    top: 0;
    left: 0;
}

.welcome__header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.navigation {
    font-family: "ubuntu", arial, sans-serif;
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
}

.navigation__item {
    margin-right: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.navigation__link {
    font-weight: 500;
    font-size: 13px;
    color: #f0f0f0;
    cursor: pointer;
}

.navigation__item::before {
    content: ' \25CF';
    font-size: 9px;
    color: white;
    margin-right: 17px;
}

.navigation__item:first-of-type::before {
    content: ' ';
}

.button {
    font-family: "ubuntu", arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
}

.button_color_orange {
    background-color: #e45028;
}

.button_color_orange:hover {
    background-color: #c1401e;
}

.welcome__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.welcome-content {
    display: flex;
    align-items: center;
}

.welcome-content__left {
    width: 50%;
}

.welcome-content__right {
    width: 50%;
}

.section__title {
    text-transform: uppercase;
    font-family: "gagalin", arial, sans-serif;
    font-weight: 400;
    font-size: 70px;
    margin: 0;
    margin-top: 40px;
    letter-spacing: 2px;
}

.section__title--orange {
    color: #f9b43b;
}

.welcome-content__description {
    font-family: "lifehack", arial, sans-serif;
    font-size: 65px;
    color: #ffffff;
    line-height: 0.95em;
    margin-top: 20px;
}

.arrow {
    width: 30px;
    height: 20px;
    background-image: url(../../img/arrow-scroll.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    bottom: 40px;
}


/*
.container {
    margin: 0 auto;
    width: 940px;
    height: 100vh;
    position: relative;
}

.welcome__header {
    height: 80px;
    width: 940px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    padding-top: 9px;
}

.logo {
    margin-right: auto;
}

.header__navigation {}

.navigation {}

.navigation__list {
    display: flex;
    flex-direction: row;
}

.navigation__link {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
}

.navigation__item {
    margin-right: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.navigation__item::before {
    content: ' \25CF';
    font-size: 9px;
    color: white;
    margin-right: 17px;
}

.navigation__item:first-of-type::before {
    content: ' ';
}

.header__button {}

.button {
    font-family: "ubuntu", arial, sans-serif;
    font-weight: 500;
    height: 35px;
    width: 100px;
    font-size: 13px;
    color: #f0f0f0;
    background-color: #e45028;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    width: 940px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__text {
    padding-top: 50px;
}

.banner__img {
    margin-right: 15px;
}

.banner__text-title {
    text-transform: uppercase;
    font-family: "gagalin";
    font-weight: 400;
    font-size: 70px;
    color: #f9b43b;
    margin: 0;
    margin-bottom: 35px;
    letter-spacing: 3px;
}

.banner__text-desc {
    font-family: "lifehack";
    font-size: 60px;
    color: #ffffff;
    line-height: 0.95em;
}

.arrow {
    width: 30px;
    height: 20px;
    background-image: url(../../img/arrow-scroll.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 93vh;
}
*/

.nav-scroll {
    position: fixed;
    right: 10%;
    top: 13%;
}

.nav-scroll__list {
    line-height: 1.3;
}

.nav-scroll__item {
    margin-bottom: 2px;
}

.nav-scroll__item-trigger {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-scroll__radio {
    position: absolute;
    top: 0;
    left: -9999px;
}

.nav-scroll__radio-fake {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
}

.nav-scroll__radio-fake::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1px solid #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -53%);
    transition: 0.3s;
}

.nav-scroll__radio:checked+.nav-scroll__radio-fake {}

.nav-scroll__radio:checked+.nav-scroll__radio-fake::before {
    width: 15px;
    height: 15px;
}